{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        ring                {:mvn/version "1.7.1"}
        hiccup              {:mvn/version "1.0.5"}
        circleci/clj-yaml   {:mvn/version "0.6.0"}
        me.raynes/fs        {:mvn/version "1.4.6"}
        prone               {:mvn/version "1.6.3"}}}
